<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MP3 Hard Drive Space Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MP3 Hard Drive Space Calculator</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Total space (MB)</ion-label>
        <ion-input type="number" name="totalSpace" [(ngModel)]="totalSpace"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Used space (MB)</ion-label>
        <ion-input type="number" name="usedSpace" [(ngModel)]="usedSpace"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nbr of tracks</ion-label>
        <ion-input type="number" name="nbrOfTracks" [(ngModel)]="nbrOfTracks"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Remaining space (MB): </ion-label>
        <ion-input name="remainingSpace" value="{{ remainingSpace | number : '2.' }}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Average space of single track (MB): </ion-label>
        <ion-input name="averageSpace" value="{{ averageSpace | number : '1.0-2' }}" readonly></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nbr of tracks left: </ion-label>
        <ion-input name="nbrOfTracksLeft" value="{{ nbrOfTracksLeft | number : '1.0-2' }}" readonly></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
